<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JourneySpark Travel Planner : Plan the Journey. Spark the Adventure.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/apptopbar') %>
<div class="app-shell">
     <%- include ('partials/sidebar',  { area: 'traveler', active:'/trips'}) %>
     <div class="app-main">
        <main class="app-content">
            <h1>Edit Trip</h1>
            <form action="/trips/<%= trip.tripId %>/edit" method="POST">
                <label>Trip Name: </label>
                <input type="text" name="tripName" placeholder="Enter Trip Name" required>
                <br>
                <label> Destination: </label>
                <input type="text" name="destination" placeholder="Enter destination" required>
                <br>
                <label>Start Date:</label>
                <input type="date" name="startDate" placeholder="Enter start date" required>
                
                <br>
                <label> End Date: </label>
                <input type="date" name="endDate" placeholder="Enter end date" required>

                <button type="submit">Update Trip</button>
                
           </form>
           <a href="/trips/<%=trip.tripId %>" class="btn btn-secondary">Back</a>
        </main>
    </div>
</div>
</body>
</html>


               
        